{% load static %}
    <!-- Required Js -->

    <script src="{% static '/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/pcoded.min.js' %}"></script>
