{% extends "layouts/base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% csrf_token %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Cadastro de Pacientes</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Paciente</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">cadastro</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
         <div class="row">
               <div class="col-lg-12">
                    <form method="post">{% csrf_token %}

                    <div class="card-body" id="accordion">
                        <div class="tab-content">
                            <div class="tab-pane show active" id="form-row-preview">
                                <div class="form-row">

                                {% bootstrap_form form_paciente set_placeholder=False form_group_class='col-form-label form-group w3-border-12 col-md-4'%}

                                {% bootstrap_form form_companheiro set_placeholder=False form_group_class='col-form-label form-group w3-border-12 col-md-4'%}

                                <hr><hr/>
                                </div> <!-- end preview-->
                            </div> <!-- end tab-content-->
                            <div class="form-group col-md-4">
                                {% buttons %}
                                  <button type="submit" class="btn btn-primary" value="Save">Enviar</button>
                                   <button id="btn-send" type="button" class="btn btn-primary">Cancelar</button>
                                {% endbuttons %}
                                 <div class="form-group col-md-12">
                            </div>
                    </div> <!-- end card-body -->
                    </form>
               </div> <!-- end card-->
            </div> <!-- end col -->
         </div>
         </div>
           </div> <!-- end tab-content-->
              </div> <!-- end col-->
                 </div>
                    <!-- end row-->
                    </div> <!-- end preview-->
                         </div> <!-- end tab-content-->
                            </div> <!-- end card-body -->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </>
            <!-- container -->
        </div>
        <!-- content -->
    </div>
@endsection
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
