{% extends "layouts/base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% csrf_token %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Cadastro de Pacientes</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Paciente</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">cadastro</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
         <div class="row">
               <div class="col-lg-12">
                    <form method="post">{% csrf_token %}
                    <div class="card-body" id="accordion">
                        <div class="tab-content">
                                        <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-light" id="dash-daterange">
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-primary border-primary text-white">
                                                    <i class="mdi mdi-calendar-range font-13"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript: void(0);" class="btn btn-primary ml-2">
                                        <i class="mdi mdi-autorenew"></i>
                                    </a>
                                    <a href="javascript: void(0);" class="btn btn-primary ml-1">
                                        <i class="mdi mdi-filter-variant"></i>
                                    </a>
                                </form>
                            </div>
                            <h4 class="page-title">Cadastro paciente</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane show active" id="vertical-left-tabs-preview">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="tab-content" id="v-pills-tabContent">
                                                    <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="card ribbon-box">
                                                                    <div class="card-body">
                                                                        <div class="tab-content">
                                                                            <div class="tab-pane show active" id="form-row-preview">
                                                                                <form>
                                                                                    <div class="form-row">
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="nome" class="col-form-label">Nome</label>
                                                                                            <input id="nome" type="text" class="form-control">
                                                                                            <span id="enome" class="help-block erro"><small>informe o nome do paciente.</small></span>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="apldo" class="col-form-label">Apelido</label>
                                                                                            <input id="apldo" type="text" class="form-control" >
                                                                                            <span id="epldo" class="help-block erro"><small>informe o apleido</small></span>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="dt_nasc" class="col-form-label">Data de Nascimento</label>
                                                                                            <input id="dt_nasc" type="text" class="form-control" >
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-row">
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="n_ident" class="col-form-label">Nº identidade</label>
                                                                                            <input id="n_ident" type="text" class="form-control">
                                                                                            <span id="en_ident" class="help-block erro"><small>informe o número da identidade</small></span>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="cpf" class="col-form-label">CPF</label>
                                                                                            <input id="cpf" type="mail" class="form-control">
                                                                                            <span id="ecpf" class="help-block erro"><small>informe o CPF.</small></span>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="n_sus" class="col-form-label">Nº Cartão SUS</label>
                                                                                            <input id="n_sus" type="mail" class="form-control">
                                                                                            <span id="en_sus" class="help-block erro"><small>informe o Nº do cartão do SUS.</small></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="mt-2">
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            Possui companheiro(a)?
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" id="customRadio1" name="qtd-pes-hosp" class="custom-control-input qtd-pes-hosp" value="1" checked>
                                                                                            <label class="custom-control-label" for="customRadio1">Sim</label>
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" id="customRadio2" name="qtd-pes-hosp" class="custom-control-input qtd-pes-hosp" value="2">
                                                                                            <label class="custom-control-label" for="customRadio2">Não</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-row">
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="inputEmail4" class="col-form-label">Nome</label>
                                                                                            <input id="nome2" type="text" class="form-control">
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="apelido2" class="col-form-label">Apelido</label>
                                                                                            <input id="apelido2" type="text" class="form-control" >
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="dt_nasc2" class="col-form-label">Data de Nascimento</label>
                                                                                            <input id="dt_nasc2" type="text" class="form-control" >
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-row">
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="tel" class="col-form-label">Telefone</label>
                                                                                            <input id="tel" type="phone" class="form-control">
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="inputAddress" class="col-form-label">Celular</label>
                                                                                            <input id="cel" type="phone" class="form-control">
                                                                                            <span id="ecel" class="help-block erro"><small>informe o número.</small></span>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="email" class="col-form-label">E-mail</label>
                                                                                            <input id="email" type="mail" class="form-control">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-row">
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="rua" class="col-form-label">Rua</label>
                                                                                            <input id="rua" type="mail" class="form-control">
                                                                                            <span id="erua" class="help-block erro"><small>informe a rua.</small></span>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="numero" class="col-form-label">Número</label>
                                                                                            <input id="numero" type="text" class="form-control">
                                                                                            <span id="enumero" class="help-block erro"><small>informe o número.</small></span>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="complemento" class="col-form-label">Complemento</label>
                                                                                            <input id="complemento" type="text" class="form-control">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-row">
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="bairro" class="col-form-label">Bairro</label>
                                                                                            <input id="bairro" type="text" class="form-control">
                                                                                            <span id="ebairro" class="help-block erro"><small>informe o bairro.</small></span>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="cidade" class="col-form-label">Cidade</label>
                                                                                            <select id="cidade" class="form-control">
                                                                                                <option>Selecione a opção</option>
                                                                                                <option>Ilhéus</option>
                                                                                                <option>Itabuna</option>
                                                                                                <option>Itacaré</option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <label for="cep" class="col-form-label">CEP</label>
                                                                                            <input id="cep" type="mail" class="form-control">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-row">
                                                                                        <div class="form-group col-md-12">
                                                                                            <label for="obs">Deseja fazer alguma observação?</label>
                                                                                            <textarea id="obs" class="form-control" rows="5"></textarea>
                                                                                        </div>
                                                                                        <div class="form-group col-md-4">
                                                                                            <button id="btn-send" type="button" class="btn btn-primary">Enviar</button>
                                                                                            <button id="btn-send" type="button" class="btn btn-primary">Cancelar</button>
                                                                                        <div class="form-group col-md-12">
                                                                                    </div>
                                                                                </form>
                                                                            </div> <!-- end preview-->
                                                                        </div> <!-- end tab-content-->
                                                                    </div> <!-- end card-body -->
                                                                </div> <!-- end card-->
                                                            </div> <!-- end col -->
                                                        </div>
                                                        <!-- end row -->
                                                    </div>
                                                </div> <!-- end tab-content-->
                                            </div> <!-- end col-->
                                        </div>
                                        <!-- end row-->
                                    </div> <!-- end preview-->
                                </div> <!-- end tab-content-->
                        </div>
                    </div> <!-- end card-body -->
                    </form>
               </div> <!-- end card-->
            </div> <!-- end col -->
         </div>
         </div>
           </div> <!-- end tab-content-->
              </div> <!-- end col-->
                 </div>
                    <!-- end row-->
                    </div> <!-- end preview-->
                         </div> <!-- end tab-content-->
                            </div> <!-- end card-body -->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </>
            <!-- container -->
        </div>
        <!-- content -->
    </div>
@endsection
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
