{% extends "layouts/base2.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!-- Specific CSS goes HERE -->
<!DOCTYPE html>

{% block content %}
{% csrf_token %}
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <title>PACIENTES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script > -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"></script> -->
    <link   rel="icon" href="https://codingbirdsonline.com/wp-content/uploads/2019/12/cropped-coding-birds-favicon-2-1-192x192.png" type="image/x-icon">
    <style> #thead>tr>th{ color: white; } </style>
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Cadastro de Pacientes</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Paciente</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">cadastro</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<table id="exampleTable" class="table table-striped table-bordered" aria-labelledby="v-pills-home-tab">
     <div class="row">
       <div class="col-lg-12">
        <thead id="thead">
            <tr style="background-color: #1573ff">
                <th>Nome</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for b in form %}
            <tr>
                <td>{{ b.nome }}</td>
                <td>{{ b.cpf }}</td>
                <td>{{ b.n_ident }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'edit' b.id %}">Edita</a>
                    <a class="btn btn-danger" href="{{ b.id }}">Deleta</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
       </div>
     </div>
    </div>
</div>
</table>
<script>
    $(document).ready(function() {
        $('#exampleTable').DataTable();
    } );
</script>
</body>
{% endblock %}
</html>